*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-palette16-steel-teal: #588b8b;
  --clr-palette16-cedar-chest: #c8553d;
  --clr-palette16-raisin-black: #272635;
  --clr-palette16-white: #ffffff;

  --clr-light-grey: #f9f9f9;
}

html {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--clr-light-grey);
}

header {
  margin: 0;
  padding-block: 1rem;
  font-size: 2.5rem;
  background-color: var(--clr-palette16-steel-teal);
  color: black;
}

section {
  margin-top: 3rem;
}

/*******************************************************************/
/******* class lists *******/

/*******************************************************************/
/******* specific *******/

.input-form {
  font-size: 2rem;
}

#todo-input {
  padding: 0.75rem 0.25rem;
}

.add-button {
  padding: 0.75rem 1rem;
  background-color: var(--clr-palette16-cedar-chest);
  border-color: transparent;
  border-radius: 0.25rem;
  color: var(--clr-palette16-white);
}

.remove-button {
  padding: 1rem 1.25rem;
  background-color: var(--clr-palette16-cedar-chest);
  border-color: transparent;
  border-radius: 0.35rem;
  color: var(--clr-palette16-white);
}

.filter-section {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-heading {
  margin: 0;
  padding: 1rem;
}

.filters {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5rem 0.5rem;
  justify-items: start;
  align-items: center;
  margin-bottom: 2rem;
  padding-block: 1rem;
}

.filter-list label {
  padding-inline: 0.5rem;
}

.todolist-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todolist-heading {
  font-size: 3rem;
  margin: 0;
  padding: 2rem 1rem;
}

.todolist {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block: 1rem;
  width: 25rem;
}

.todolist li {
  padding: 0.75rem;
  margin-block: 0.25rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0.15rem solid var(--clr-palette16-cedar-chest);
  border-radius: 0.25rem;
}

.todolist label {
  padding-inline: 0.75rem;
}
